header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h2 { font-size: 24px; color: var(--text-dark); font-weight: 700; }
header p { color: var(--text-light); font-size: 14px; }

.header-actions { display: flex; gap: 15px; }